zos-academy.fr {

    @labs path /labs*

    handle @labs {
        forward_auth auth:8081 {
            uri /api/verify
            copy_headers Set-Cookie

            @unauth401 {
                status 401
            }
            handle_response @unauth401 {
                redir * /
            }
        }

        uri strip_prefix /labs
        reverse_proxy navigateur:80 {
            # -- Désactive tout cache côté client ---------
            header_down Cache-Control "no-store, max-age=0, must-revalidate"
            header_down Pragma "no-cache"
            header_down Expires "0"
            # -- Supprime les en-têtes de validation -------
            header_down -ETag
            header_down -Last-Modified
        }
    }

    handle {
        reverse_proxy auth:8081
    }

    encode gzip
}
